[Unit]
Description=Lightweight proxy that allows redirect HTTP(S) traffic through a proxy.
After=network.target

[Service]
Type=simple
ExecStartPre=/usr/bin/proxyswarm --test-file --file /etc/proxyswarm.conf
ExecStart=/usr/bin/proxyswarm -file /etc/proxyswarm.conf